#logoDiv {
    height: 80vh !important;
    width: 20%;
    
}

#quizContent {
    width: 80%;
    height: 80vh !important;
}

body {
    height: 100vh !important;
}

#questionText {
    font-size: 2.5rem;
    font-weight: bold;
}

.fa-lightbulb {
    background-color: #0d6dfd49;
}